.external--header {
    background-color: #AFF9EB;
}

.external--description {
    background-color: #42F6D4;
}

section p {
    padding: 10px;
}

#inline {
    border: 5px solid #02C3BD;
    padding: 10px;
}

.inline-element {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.block-element {
    height: 150px;
    width: 150px;
}

.length-unit {
    background-color: #D7B377;
    margin: 10px;
    padding: 10px;
}

.color {
    width: 60%;
    margin: 20px;
    padding: 10px;
}

.border-props {
    border-color: #f781f7;
    border-style: solid;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
}

.border {
    border: 5px solid #6be9f5;
    margin: 10px;
    padding: 10px;
}

.box-model-content {
    border: 5px dashed #000000;
    box-sizing: content-box;
    margin: 10px;
    padding: 10px;
    width: 150px;
}

.box-model-border {
    border: 5px dashed #000000;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 150px;
}

.visibility-display {
    display: none;
}

.visibility-visibility {
    visibility: hidden;
}

.visibility-opacity {
    opacity: 0;
}

.font-combination {
    font-family: monospace, sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
}

.font-shortcut {
    font: italic 500 1.3rem monospace, sans-serif;
}

.float {
    background-color: #B5C2E3;
    padding: 10px;
}

.float::after {
    content: '';
    clear: both;
    display: block;
}

.menu {
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 500px;
    padding: 10px;
    width: 20%;
}

.header {
    border: 1px solid black;
    border-left-width: 0;
    box-sizing: border-box;
    float: right;
    height: 50px;
    padding: 10px;
    width: 80%;
}

.content {
    border: 1px solid black;
    border-left-width: 0;
    border-top-width: 0;
    box-sizing: border-box;
    float: right;
    height: 400px;
    padding: 10px;
    width: 80%;
}

.footer {
    border: 1px solid black;
    border-left-width: 0;
    border-top-width: 0;
    box-sizing: border-box;
    float: right;
    height: 50px;
    padding: 10px;
    width: 80%;
}

#header {
    height: 50px;
}

#content {
    float: left;
    height: 400px;
    width: 75%;
}

#navigation {
    float: right;
    height: 400px;
    width: 25%;
}

#footer {
    clear: both;
    height: 50px;
}
