.external--header {
    background-color: #AFF9EB;
}

.external--description {
    background-color: #42F6D4;
}

section p {
    padding: 10px;
}

#inline {
    border: 5px solid #02C3BD;
    padding: 10px;
}

.inline-element {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.block-element {
    height: 150px;
    width: 150px;
}
